.article {

    > * {
        @apply mb-6;
    }

    h1 {
        @apply text-2xl font-bold;
    }

    h2 {
        @apply text-xl font-bold;
    }

    h3 {
        @apply text-lg font-bold;
    }

    h4 {
        @apply text-lg font-bold;
    }

    ul {
        @apply ml-10 list-disc;
    }

    ol {
        @apply ml-10 list-decimal;
    }

    blockquote {
        @apply px-6 py-4 border-l-4 border-teal;
    }

    > p > code {
        @apply font-display rounded p-1 inline-block text-red;
        background-color: #121319;
    }

    em {
        @apply font-body italic;
    }

    strong {
        @apply font-body font-bold;
    }

    a {
        @apply text-yellow;

        &:hover {
            @apply underline;
        }
    }

    code {
        @apply font-display text-xs;

        @screen md {
            @apply text-sm;
        }
    }

    pre {
        background-color: #121319;
        @apply leading-loose p-2 font-display overflow-x-auto text-xs border-2 border-teal rounded;

        @screen md {
            @apply leading-loose text-sm;
        }
    }

    img {
        margin: 0 auto;
    }
}
