.welcome-page {

    header {
        background: linear-gradient(to right, hsl(170, 50%, 50%), hsl(190, 50%, 60%));
    }

    .display-3 {
        line-height: 1;
        color: white;
        text-shadow: 2px 0 4px rgba(0,0,0,0.15);
    }
    
    .display-6 small {
        line-height: 1;
        color: hsla(0, 100%, 100%, 0.7);
        text-shadow: 2px 0 4px rgba(0,0,0,0.15);
    }

    .sm-links i {
        color: white;
        font-size: 2rem;
        text-shadow: 2px 0 4px rgba(0,0,0,0.15);
    }

    .quote {
        background-color: #ffffff;
    }

    .quote p {
        max-width: 600px;
        // font-size: 1rem;
        line-height: 1.75;
    }

    .quote em {
        color: #666;
    }

    .off-color {
        background-color: #f1f2f6;
        min-height: 20vh;
    }

    .media {
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0 1px 7px rgba(0,0,0,0.1);

        .img {
            border-radius: 2px; 
            height: 200px; 
            width: 300px; 
            background-color: #888; 
            box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
        }
    }

    ul {
        list-style: none;
        padding: 0;

        i {
            color: #2ed573;
            text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
        }
    }
}