.welcome-page {
    .left-col {

        .display-3 {
            line-height: 1;
        }

        .summary {
            max-width: 700px;
        }
    }

    .right-col {
        background-color: $slateblue;
        // height: 100vh;

        @media (min-width: 992px) {
            height: 100vh;
        }

        h1 {
            color: #FBFEF9;
        }

        .card {
            background-color: $darkblue;
        }

        .card .card-title {
            font-size: 22px;
            color: #FBFEF9;
        }

        .card .card-subtitle {
            font-size: 20px;
            color: #FBFEF9;
        }

        .card .card-text {
            color: #FBFEF9;
            font-size: 14px;
        }
    }

    .profile-img {
        max-height: 175px;
    }

    .sm-links {
        font-size: 40px;

        a {
            line-height: 25px;
        }
    }
}