body {
    background-color: $white;
}

body * {
    font-family: 'Montserrat', 'Arial', sans-serif;
    box-sizing: border-box;
    color: $darkblue;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', 'Helvetica', sans-serif;
}

p {
    font-size: 16px;
}

a {
    color: $sweet-red;
    text-decoration: underline;

    &:hover {
        color: #882534;
        text-decoration: underline;
    }

    span {
        color: $sweet-red;

        &:hover {
            color: #882534;
            text-decoration: underline;
        }
    }

    i {
        color: $sweet-red;

        &:hover {
            color: #882534;
            text-decoration: none;
        }
    }
}

.nospacing {
    padding: 0 !important;
    margin: 0 !important;
}