html {
    font-size: 16px;
    
    @media (max-width: 900px) {
        font-size: 12px;
    }

    @media (max-width: 400px) {
        font-size: 8px;
    }
}

body {
    background-color: $white;
}

body * {
    font-family: 'Montserrat', 'Arial', sans-serif;
    box-sizing: border-box;
    color: $darkblue;
}

h1, h2, h3, h4, h5, h6,
h1>a, h2>a, h3>a, h4>a, h5>a, h6>a {
    font-family: 'Oswald', 'Helvetica', sans-serif;
}

a {
    color: #3490dc;
    text-decoration: none;

    &:hover {
        color: #1d68a7;
        text-decoration: underline;
    }

    &:visited {
        color: #3490dc;
    }

    span {
        color: #3490dc;

        &:hover {
            color: #1d68a7;
            text-decoration: underline;
        }
    }

    i {
        color: #3490dc;

        &:hover {
            color: #1d68a7;
            text-decoration: none;
        }
    }
}

.overflow-y-scroll {
   overflow-y: scroll;
}

.nospacing {
    padding: 0 !important;
    margin: 0 !important;
}