$fa-font-path: "webfonts";

@import "scss/fontawesome";
@import "scss/solid";
@import "scss/brands";

@tailwind base;

@font-face {
  font-family: 'JetBrainsMono';
  src: url('/fonts/JetBrainsMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMonoBold';
  src: url('/fonts/JetBrainsMono-ExtraBold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMonoItalic';
  src: url('/fonts/JetBrainsMono-Italic.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMonoBoldItalic';
  src: url('/fonts/JetBrainsMono-ExtraBold-Italic.ttf');
  font-weight: normal;
  font-style: normal;
}

strong {
  font-family: 'JetBrainsMonoBold';
  font-weight: normal;
  font-style: normal;
}

em {
  font-family: 'JetBrainsMonoItalic';
  font-weight: normal;
  font-style: normal;
}

@import 'modal';

@import 'blogpost';

@tailwind components;

@tailwind utilities;

@import 'customutilities';