$fa-font-path: "webfonts";

@import "scss/fontawesome";
@import "scss/solid";
@import "scss/brands";

@tailwind base;

@tailwind components;

@import 'modal';

.bg-gradient {
  background: linear-gradient(to right, hsl(170, 50%, 50%), hsl(190, 50%, 60%));
}

.text-shadow {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.15);
}

@tailwind utilities;