@layer {
    /* strong {
        font-family: 'JetBrainsMonoBold';
        font-weight: normal;
        font-style: normal;
    }

    em {
        font-family: 'JetBrainsMonoItalic';
        font-weight: normal;
        font-style: normal;
    } */
}
