@layer components {

    .post {
        display: grid;
        grid-template-columns: 1fr min(65ch, 100%) 1fr;
    }

    .post > * {
        grid-column: 2;
        @apply mb-6;
    }

    .post > .full-bleed {
        width: 100%;
        grid-column: 1 / 4;
    }

    .post > pre {
        @apply w-full font-display leading-relaxed text-xs md:text-sm overflow-x-auto border-2 border-teal shadow;
    }

    .post > pre > code {
        @apply block min-h-full min-w-max;
    }

    .post > pre > code .line-number {
        @apply mr-4;
    }

    .post > pre > code .line {
        @apply py-1 px-2;
    }

    .post > pre > code .line:first-child {
        @apply pt-3;
    }

    .post > pre > code .line:last-child {
        @apply pb-3;
    }

    .post > pre > code.has-focus-lines .line:not(.line-focus) {
        @apply opacity-30 transition-all duration-300;
        filter: blur(1.5px);
    }

    .post > pre:hover > code.has-focus-lines .line:not(.line-focus) {
        @apply blur-none opacity-100;
    }

    .post img {
        @apply mx-auto;
    }

    .post > h1 {
        @apply text-2xl font-bold text-orange pt-4;
    }

    .post > h2 {
        @apply text-xl font-bold text-orange pt-3;
    }

    .post > h3 {
        @apply text-lg font-bold text-orange pt-2;
    }

    .post > h4 {
        @apply text-lg font-bold text-orange pt-1;
    }

    .post > ul {
        @apply pl-10 list-disc;
    }

    .post > ol {
        @apply pl-10 list-decimal;
    }

    .post > blockquote {
        @apply px-6 py-4 border-l-4 border-teal;
    }

    .post > p > code,
    .post > :not(pre):not(p) code,
    .post > p > :not(a):not(pre) code {
        @apply font-display rounded px-1 inline text-red bg-red bg-opacity-5 text-sm;
    }

    .post > em {
        @apply font-body italic;
    }

    .post > strong {
        @apply font-body font-bold;
    }

    .post a {
        @apply text-yellow underline;
    }

    .post a code {
        @apply font-display rounded inline text-red text-sm;
    }

    .post > img {
        @apply my-0 mx-auto;
    }
}
